body {
  margin: 0;
  font-family: byN, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div span li h1 button {
  font-family: byN;
}
input {
  font-family: byN;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "va";
  src: url(/assets/fonts/Vazir.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "na";
  src: url(/assets/fonts/nazanin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "by";
  src: url(/assets/fonts/Yekan.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "by";
  src: url(/assets/fonts/BYekan+Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "byN";
  src: url(/assets/fonts/YekanBakhFaNum-Medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "byN";
  src: url(/assets/fonts/YekanBakhFaNum-Bold.woff) format('woff.woff');
  font-weight: bold;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(126, 126, 126, 0.6) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 20px;
}
