.home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 130px);
    background: url("../../../public/assets/images/back.png");
    background-size: cover;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 130px;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
  }
  